.main-content {
    display: grid;
    /* justify-content: center; */
    padding: 2px;
    margin-bottom: 3px;
    height: auto;
}

.heading>div {
    height: auto;
}

.content {
    /* background-color: lightgray; */
}