.content {
    display: grid;
    // /* justify-content: center; */
    padding: 2px;
    margin-bottom: 3px;
    height: auto;
    width: 100%;
    text-align: center;
    // justify-content: center;
}


.header {
    margin-bottom: 3px;
    border-bottom: 0.5px solid lightgray;
    // background-color: darkblue;
}